@import "colors";
@import "fonts";

.greeting {
  position: relative;
  width: 780px;
  height: 740px;

  transition-property: background-image;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  background-image: url("../img/egg_big.png");
  background-repeat:  no-repeat;
  background-position: center;
  background-size: contain;

  & * {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
  }
}

.greeting__asterisk {
  font-size: 80px;
  color: $main-red-color;

  text-align: center;
}

.greeting__logo {
  text-align: center;
}

.greeting__challenge {
  margin: 0 auto;

  text-align: center;
  h3 {
    @include bold-text;
  }

  p {
    @include regular-text;
  }

}

.greeting__continue {
  position: absolute;

  right: -20px;
  top: 300px;

  cursor: pointer;
}
