.splash {
  height: 100%;
  width: 100%;

  &-line {
    height: 100%;
    width: 100%;

    fill: transparent;
    stroke: rgba(0, 107, 89, .5);
    stroke-width: 15px;
    stroke-dasharray: 377;
    stroke-linecap: round;

    box-shadow: hoff voff 5px color;

    animation-name: spin;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.3,.3, .7,.7);
  }
}

@keyframes spin {
  0%  {
    transform: rotate(0);
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dashoffset: 367;
  }

  100% {
    transform: rotate(360deg);
    stroke-dashoffset: 0;
  }
}
